*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --background-color-1: #2E2E2E; /* var(--background-color-1); */
    --background-color-2: #3C3C3C; /* var(--background-color-2); */
}

#page-container{
    display: grid;
    grid-template-columns: minmax(230px, 1fr) 3fr;
    height: 100vh;
}


 /* Project Section */

#project-sidebar-container{
    background-color: var(--background-color-1);;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem;
    justify-items: center;
}

#project-container-title{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 800;
    height: 2.3rem;
    color: rgb(214, 214, 214);
    border-bottom: 1px solid rgb(214, 214, 214);
}

.project{
    background-color: brown;
    width: 13rem;
    height: 5rem;
    border-radius: 0.3rem;
    display: grid;
    justify-items: center;
    grid-template-columns: 5fr 1fr 1fr;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.project-title{
    margin-top: 1rem;
    color: rgb(214, 214, 214);
    font-size: 1.4rem;
    grid-column: 1/4;
}

.project-delete-button{
    height: 1.5rem;
    justify-self: end;
    margin-right: 1rem;
    align-self: center;
}

.project-edit-button{
    height: 1.5rem;
    justify-self: end;
    margin-right: 1rem;
    align-self: center;
}

.project-view-button{
    font-weight: 800;
    color: white;
    background-color: rgb(255, 124, 2);
    border-radius: 4rem;
    width: 4.5rem;
    text-align: center;
    align-self: center;
}

.project-view-button:hover{
    background-color: rgb(132, 0, 255);
    scale: 1.1;
}

/* Create project */
#create-project-button{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    background-color: rgb(189, 54, 54);
    border-radius: 2rem;
    height: 4rem;
    justify-items: center;
}

#create-project-text{
    font-size: 1.3rem;
    color: white;
    align-self: center;
}

#create-project-image{
    align-self: center;
    height: 1.8rem;
    justify-self: flex-start;
    color: white;
}




 /* Task Section */

#task-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 1rem;
    background-color: var(--background-color-2);
    justify-items: center;
}

.to-do-task{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 5rem;
    width: 85%;
    justify-items: center;
    background-color: #ac0505;
    border-left: 6px solid #ffffff;
    border-radius: 2rem;
    margin: 5px;

}

#to-do-list-header{
    color: white;
    font-size: 2rem;
    font-weight: 800;
}

.task-title, .task-description, .task-due-date, .task-priority{
    color: white;
}

/* form styling */

dialog{
    border: 0px;
    border-radius: 2rem;
    justify-self: center;
    margin-top: 15vh;
}
#todo-form{
    height: 40rem;
    width: 25rem;
    background-color: rgb(145, 63, 221);
    display: grid;
    grid-template-columns: 1fr;
    border: none;
    border: 2px solid #303030;
    border-radius: 2rem;
}

#formTitle{
    margin-top: 2rem;
    justify-self: center;
    font-size: 2rem;
    color: #303030;;
}
.formLabel{
    align-self: center;
    margin-left: 3.5rem;
    font-weight: 800;
    color: white;
}
.formInput{
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding-left: 1rem;
    border: 1px solid #303030;
    background-color: rgb(189, 54, 54);
    color: white;
    height: 3rem;

}

#options{
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

#options-text{
    color: white;
    margin-left: 3.5;
}

#formButtonContainer{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-right: 2px;
}

.formButton{
    width: 6rem;
    height: 2.5rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
    border: 1px solid #303030;
    background-color: #facc15;
}

.saveButton{
    justify-self: end;
}