*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --background-color-1: #565656; /* var(--background-color-1); */
    --background-color-2: #7F8C8D; /* var(--background-color-2); */
}

#page-container{
    display: grid;
    grid-template-columns: minmax(230px, 1fr) 3fr;
    grid-template-rows: 1fr 10fr;
    height: 100vh;
}

#navBar{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #2C3E50;
    grid-column: 1/3;
    height: 6rem;
}

.page-title-container{
    display: grid;
    grid-template-columns: 250px 100px;
    align-items: center;
    margin-left: 6.5vw;
}

#navBar-image{
    height: 3rem;
    justify-self: start;
}

.navBar-title{
    color: white;
    font-size: 2rem;
}
 /* Project Section */

#project-sidebar-container{
    background-color: var(--background-color-1);;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem;
    justify-items: center;
}

#project-container-title{
    margin-top: 1rem;
    font-size: 2rem;
    height: 2.3rem;
    color: rgb(214, 214, 214);
}

.project{
    background-color: #2C3E50;
    width: 13rem;
    height: 5rem;
    border-radius: 0.3rem;
    display: grid;
    justify-items: center;
    grid-template-columns: 5fr 1fr 1fr;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.project:hover{
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.project-title{
    margin-top: 1rem;
    color: rgb(214, 214, 214);
    font-size: 1.4rem;
    grid-column: 1/4;
}

.project-delete-button{
    height: 1.5rem;
    justify-self: end;
    margin-right: 1rem;
    align-self: center;
}

.project-edit-button{
    height: 1.5rem;
    justify-self: end;
    margin-right: 1rem;
    align-self: center;
}

.project-view-button{
    font-weight: 800;
    color: white;
    background-color: #7F8C8D;
    border-radius: 4rem;
    width: 4.5rem;
    text-align: center;
    align-self: center;
}

.project-view-button:hover{
    background-color: #bacfd0;
    scale: 1.1;
    cursor: pointer;
}

/* Create project */
#create-project-button{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    background-color: #7F8C8D;
    border-radius: 2rem;
    height: 4rem;
    justify-items: center;
    cursor: pointer;
}

#create-project-button:hover{
    background-color: #bacfd0;
}

#create-project-text{
    font-size: 1.3rem;
    color: white;
    align-self: center;
}

#create-project-image{
    align-self: center;
    height: 1.8rem;
    justify-self: flex-start;
    color: white;
}


 /* Task Section */

#task-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 1rem;
    background-color: var(--background-color-2);
    justify-items: center;
}

.to-do-task{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    width: 85%;
    justify-items: center;
    background-color: #F5F6FA;
    border-left: 6px solid #ffffff;
    border-radius: 0.5rem;
    margin: 5px;
    height: 6rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.to-do-task:hover{
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.task-title{
    grid-column: 1/4;
    font-weight: 800;
}
.task-description{
    grid-column: 1/4;
    justify-self: start;
}

.task-due-date, .task-priority{
    margin-bottom: 0px;
}

#to-do-list-header{
    color: white;
    font-size: 2rem;
}

.task-title, .task-description, .task-due-date, .task-priority{
    color: black;
}

/* to-do form styling */

#create-todo-button{
    cursor: pointer;
}

dialog{
    border: 0px;
    border-radius: 0.3rem;
    justify-self: center;
    margin-top: 15vh;
}
#todo-form{
    height: 33rem;
    width: 25rem;
    background-color: #2C3E50;
    display: grid;
    grid-template-columns: 1fr;
    border: none;
}

#formTitle{
    margin-top: 2rem;
    justify-self: center;
    font-size: 2rem;
    color: white;
}
.formLabel{
    align-self: center;
    margin-left: 3.5rem;
    font-weight: 800;
    color: white;
}
.formInput{
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding-left: 1rem;
    background-color: white;
    color: black;
    height: 3rem;

}

#options{
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

#options-text{
    color: white;
    margin-left: 3.5;
}

#formButtonContainer{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-right: 2px;
    margin-top: 6px;
}

.formButton{
    width: 6rem;
    height: 2.5rem;
    border-radius: 0.2rem;
    background-color: var(--primary-color);
    border: 0px solid #303030;
    background-color: #7F8C8D;
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
}

.formButton:hover{
    background-color: #bacfd0;
}

#save.formButton{
    justify-self: end;
}

/* create-project form styling */

#projectDialog{
    border: 0px;
    border-radius: 0.3rem;
    justify-self: center;
    margin-top: 33vh;

}

.project-form-label{
    color: black;
    justify-self: center;
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 800;
}

#project-form{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}



/* New to-do button styling */

#create-todo-button{
    border-radius: 1rem;
    margin-top: 2rem;
    height: 5rem;
    width: 15rem;
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #F5F6FA;
    gap: 1rem;
}

#create-todo-button:hover{
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#create-todo-image{
    height: 3rem;
}

#create-todo-text{
    font-weight: 800;
    font-size: 1.3rem;
    justify-self: end;
    margin-left: 2rem;
}